astroid
autograd
autograd_gamma
babel
blockdiag
bokeh
branca
cython
descartes
docutils
et_xmlfile
flask
funcparserlib
ijson
imagesize
importlib_metadata
ipydatawidgets
ipython
isort
itsdangerous
jdcal
joblib
jupyter
lifelines
matplotlib
mizani
nbconvert
nbformat
numpy
openpyxl
pandas
plotly
plotnine
prettytable
psutil
pybind11
pycodestyle
pycryptodomex
pygame
pylint
pymmails
pymyinstall
pyquickhelper
pyshp
python-jenkins
PyYAML
scikit-learn
sphinx
simplejson
statsmodels
sympy
threadpoolctl
traittypes
typing_extensions
xlrd
xlsxwriter
werkzeug
wheel
