antlr4-python3-runtime
bqplot
brythonmagic
coverage
cufflinks
ensae_teaching_cs
ete3
folium
geoplotlib
ggplot
jyquickhelper
lifelines
lightning-python
mutagen
missingno
mpl_scatter_density
mpld3
plotly
plotnine
pydy
pygal
pygal_maps_fr
pymyinstall
pyquickhelper>=1.7.2438
pyreadline
pyshp
pythreejs
scikit-image
shapely
sphinxjp.themes.basicstrap
sphinxjp.themes.sphinxjp
vega
version_information
wikipedia
vispy
wheel
wptools>=0.4
