biopython
bokeh
cartopy
cffi
cython
datashape
folium
geoplotlib
jupyter
matplotlib
notebook>=5.0.0
networkx
numba
numpy>=1.11.0
pandas>=0.20.0
pillow
pybind11
pycodestyle
pycurl
pydot
pyproj
pyzmq
reportlab
scikit-image
scikit-learn
scipy
seaborn
shapely
Sphinx
sphinx_gallery
sympy
toolz
vega
wheel
xarray
