autopep8
antlr4-python3-runtime
asciitree
blockdiag
bqplot
brython!=3.8.1
brythonmagic
cairocffi
cairosvg
coverage
cpyquickhelper>=0.2.226
cufflinks
datashader
ensae_teaching_cs>=0.9.2873
folium
jupyter_sphinx
jyquickhelper
lifelines
lightning-python
missingno
mlinsights>=0.2.288
mlprodict
mpl_scatter_density
mpld3
mutagen
onnx
git+https://github.com/xadupre/onnxconverter-common.git@jenkins
onnxruntime
plotly
plotnine
pydy>=0.5
pyecharts>=1.0.0
pyecharts_snapshot
pygal
pygal_maps_fr
pylint
pymyinstall
pyquickhelper>=1.9.3186
pyreadline
pyshp
python-pptx
pythreejs>=1.0.0
scikit-plot
semantic_version
git+https://github.com/xadupre/sklearn-onnx.git@jenkins
sphinx_gallery
sphinx-bootstrap-theme
sphinxcontrib.imagesvg
vega
version_information
wikipedia
vispy
wptools>=0.4
yahoo_historical
