basemap
biopython 
Cython
datashape
ipython
ipywidgets
jupyter
jupyter_client
jupyter_core
matplotlib
nbformat
nbpresent
notebook>=5.0.0
networkx
numba
numpy>=1.11.0
odo
openpyxl
pandas>=0.20.0
path.py
patsy
pep8
pillow
pyzmq
qtconsole
rasterio
reportlab 
requests
scikit-image
scikit-learn
scipy
seaborn
setuptools
Sphinx
statsmodels
sympy
toolz
xarray
