# conda
biopython
bokeh
cffi
cython
datashape
jupyter
matplotlib
notebook
networkx
numba
numpy>=1.18.0
pandas>=1.0
pillow
pybind11
pycodestyle
pydot
pyzmq
reportlab
scikit-image
scikit-learn
scipy
seaborn
shapely
Sphinx
sympy
toolz
wheel
xarray

# other
autograd
autopep8
antlr4-python3-runtime
asciitree
blockdiag
bqplot
brython
brythonmagic
cairocffi
cairosvg
coverage
cpyquickhelper
cufflinks
datashader
ensae_teaching_cs
folium
jupyter_sphinx
jyquickhelper
lifelines
lightning-python
missingno
mlinsights
mlprodict
mpl_scatter_density
mpld3
mplfinance
mutagen
nbconvert
plotly
plotnine
pydy>=0.5
pyecharts>=1.0.0
pyecharts_snapshot
pyensae>=1.3.884
pygal
pygal_maps_fr
pylint
pymmails
pymyinstall
pyreadline
pyshp
python-pptx
pythreejs>=1.0.0
scikit-plot
semantic_version
sphinx_gallery
sphinx-bootstrap-theme
sphinxcontrib.imagesvg
traittypes
vega
version_information
wikipedia
vispy
wptools>=0.4
yahoo_historical

# onnx
git+https://github.com/xadupre/sklearn-onnx.git@jenkins
git+https://github.com/xadupre/onnxconverter-common.git@jenkins
onnx

# geo
cartopy
geoplotlib
pyproj
shapely
geopandas
fiona