ansi2html
argparse
Cython
docutils
entrypoints
flake8
ipykernel
ipyparallel
ipython
ipython_genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_core
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mistune
nbformat
nbpresent
nose
notebook
numpy
openpyxl
pandas
path.py
pep8
pickleshare
pycparser
pyflakes
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
requests
simplegeneric
simplejson
six
Sphinx
traitlets
virtualenv
wheel
xlrd
Werkzeug
XlsxWriter
basemap
biopython 
bokeh
networkx
seaborn
reportlab 

